# Virtual environment
venv/
.venv/
env/

# Sensitive environment configurations
.env
.env.local


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local DB & media
db.sqlite3
mock_google_calendar_events.json
*.log

# Node dependencies
node_modules/
package-lock.json

# Serverless Framework
.serverless/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
